<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Show | TV Show Portal</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/editshow_style.css' %}"
  </head>
  <body style="background-image: url({% static 'img/home-bg2.jpg' %}">
    <div id="logout">
      <button class="btn btn-outline-danger">
        <a id="logout_txt" href="/logout">Logout</a>
      </button>
    </div>
    <div id="container">
      <h1 id="show-title">Edit Show {{ show.id }}</h1>
      <form action="/shows/{{show.id}}/update" method="POST" class="form-group">
        {% csrf_token %}
        <label for="">Title</label>
        <input
          class="form-control"
          type="text"
          name="show_title"
          value="{{show.title}}"
        />
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Network</label>
            <input
              class="form-control"
              type="text"
              name="show_network"
              value="{{show.network}}"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Release Date</label>
            <input class="form-control" name="show_release_date" type="date"
            value="{{show.release_date|date:"Y-m-d"}}" />
          </div>
        </div>
        <label for="">Description</label>
        <textarea class="form-control" type="text" name="show_desc">
{{show.desc}}</textarea
        >
        <button class="btn btn-danger" id="newshow">
          Update
        </button>
      </form>
      <div>
        <a class="table-links" href="/shows/{{show.id}}">Go to Show</a>
      </div>
    </div>
  </body>
</html>
