* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}
#container {
  margin: 40px;
  text-align: left;
  color: white;
  padding: 20px;
}
#show-title {
  color: white;
  font-size: 40pt;
  /* font-weight: bolder; */
  display: block;
  margin-bottom: 20px;
}
#newshow {
  text-decoration: none !important;
  color: white !important;
  display: block;
  padding: 5px 40px;
  font-size: 10pt;
}
.btn {
  margin: 20px 0px;
}
.table-links {
  color: red !important;
  text-decoration: none !important;
}
form {
  width: 800px;
}
.form-row {
  margin-top: 15px;
}
#error_msg {
  color: red;
  font-size: 8pt;
}
