* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}
#container {
  margin: 40px;
  text-align: left;
  color: white;
  padding: 20px;
  width: 1000px;
}
#show-title {
  color: white;
  font-size: 40pt;
  /* font-weight: bolder; */
  display: block;
  margin-bottom: 20px;
}
.footer-links {
  color: red !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-size: 10pt;
}
.footer {
  margin-top: 100px;
  margin-bottom: 0px;
  font-style: italic;
  color: gray;
  font-size: 10pt;
}
#backshow,
#addshow,
#submit_review {
  text-decoration: none !important;
  color: white !important;
  display: block;
  padding: 3px 30px;
  /* position: relative !important; */
  font-size: 10pt;
}
#backbtns {
  margin-top: 50px;
}
.btn {
  margin-top: 10px;
  display: block;
}
#logout {
  margin-right: 60px !important;
  right: 0 !important;
  top: 0 !important;
  position: absolute !important;
}
#logout_txt {
  font-size: 10pt !important;
  text-decoration: none !important;
  color: white !important;
}
h3 {
  margin-top: 50px;
}
.form-group {
  margin-top: 20px;
  width: 650px;
}
.form-control {
  margin: 0px 0px 20px 0px;
}
label {
  margin: 7px 0px 7px 0px;
}
#review {
  margin: 10px;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 10px 15px;
}
#review_title {
  font-weight: 500;
  font-size: 13pt;
}
#review_content {
  font-style: oblique;
  margin-left: 10px;
}
#reviewer {
  font-style: oblique;
  color: gray;
  margin-left: 10px;
  font-size: 8pt;
}
#favorite_show {
  border: 1px solid red;
  border-radius: 5px;
  font-size: 20pt;
  text-align: center;
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
#favorite_txt {
  color: red;
  text-decoration: none !important;
}
#favorited {
  border: 1px solid red;
  border-radius: 5px;
  font-size: 20pt;
  text-align: center;
  background-color: red !important;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
#favorited_text {
  color: white;
  text-decoration: none !important;
}
#like {
  margin: 40px 0px 0px 0px;
}
#del_rev {
  color: red !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-size: 8pt;
  background-color: transparent;
  border: none;
  position: relative;
}
